* {
  margin: 0;
  padding: 0.5rem;
  box-sizing: border-box;
}

body {
  background-color: rgb(55, 199, 139);
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;

  h1 {
    color: whitesmoke;
    letter-spacing: 1rem;
    font-weight: 200;
    padding-left: 20rem;
  }

  .fas {
    color: white;
    font-size: 1.6rem;
  }

  #burger {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  .wrapper {
    #flex-1 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 20vw;
      height: 80vh;
      background-color: rgb(37, 36, 36);
      #text-1 {
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
          color: rgb(231, 198, 9);
        }
      }
      p {
        color: white;
        line-height: 1.5rem;
      }
    }
  }
  .wrapper {
    #flex-2 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 20vw;
      height: 80vh;
      background-color: white;
      #text-2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 2rem;

        h3 {
          color: rgb(231, 198, 9);
        }
        p {
          line-height: 1.5rem;
        }
      }
    }
  }
  .wrapper {
    #flex-3 {
      display: flex;
      background-color: rgb(37, 36, 36);
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      width: 20vw;
      height: 80vh;

      .fas {
        color: whitesmoke;
        font-size: 5rem;
        margin-bottom: 12rem;
      }
      h3 {
        color: rgb(231, 198, 9);
        width: 100%;
      }
    }
    button {
      background-color: rgb(55, 199, 139);
      outline: none;
      border: none;
      color: rgb(231, 198, 9);
      cursor: pointer;
    }
  }
}

@media (max-width: 400px) {
  .nav {
    width: 100%;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 0.5rem;
      padding-left: 0;
      letter-spacing: 0.5rem;
    }
  }
  .container {
    height: 100%;
    padding-bottom: 30rem;

    align-items: center;
    flex-direction: column;
    .wrapper {
      width: 80vw;
      #flex-1 {
        width: 70vw;
        margin-top: 3rem;
      }
      #flex-2 {
        width: 70vw;
      }
      #flex-3 {
        width: 70vw;
      }
    }
  }
}
